@font-face {
  font-family: Outfit;
  src: url("Outfit-VariableFont_wght.ttf");
}

body {
  background-image: url("/img/bckgrnd.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

* {
  font-family: "Outfit";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*##################################
########### HEADER STYLE ###########
###################################*/

h1 {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.h1__a {
  text-decoration: none;
  color: #294d75;
  width: 170px;
}

nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 50px;
  opacity: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 400px;
  align-items: center;
}

.nav__a,
.nav__logout {
  display: none;
}

.nav__li {
  list-style: none;
}

@media (min-width: 700px) {
  .nav__a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
  }

  .nav__logout {
    display: block;
    color: #294d75;
    font-weight: 500;
    font-size: 18px;
  }
}

/*##################################
########## LANDING STYLE ###########
###################################*/

.landing__h2 {
  font-size: 24px;
}

.landing__container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 20px;
  margin: 25px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  text-align: center;
}

.landing__p {
  text-align: start;
}

.landing__img {
  width: 185px;
  height: 330px;
  margin: auto;
}

.landing__btn {
  color: #fff;
  background-color: #294d75;
  padding: 12px 80px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
}

@media (min-width: 700px) {
  .landing__h2 {
    font-size: 28px;
  }

  .landing__container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 20px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .landing__p {
    font-size: 20px;
  }

  .landing__btn {
    color: #fff;
    background-color: #294d75;
    padding: 12px 80px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }
}

/*##################################
########### HOME STYLE ############
###################################*/

main {
  max-width: 350px;
  margin: auto;
  min-height: 65vh;
}

.to-entry {
  text-decoration: none;
  color: #000;
}

.mobile {
  margin-bottom: 100px;
}

.entry__link {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 25px auto;
  width: 300px;
}

.item-container {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 30px auto;
  padding: 30px 40px;
  border-radius: 20px;
}

.mood {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mood__day {
  font-size: 20px;
}

.mood__date {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
}

.mood__emoji {
  margin-top: 30px;
}

.desktop {
  display: none;
}

@media (min-width: 700px) {
  main {
    max-width: 690px;
    min-height: 79vh;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    display: grid;
    grid-template-areas:
      "today cal cal cal"
      "today cal cal cal"
      "today d1 d2 d3";
  }

  .container {
    width: 600px;
  }

  .history {
    display: flex;
    flex-wrap: wrap;
  }

  .history__item {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 25px 50px;
    padding: 25px 15px;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .history__day {
    font-size: 22px;
  }

  .history__date {
    font-size: 26px;
    font-weight: 500;
  }
}

/*##################################
########### ENTRY STYLE ############
###################################*/

.cal-container {
  display: flex;
  flex-direction: column;
}

.entry__greet {
  display: none;
}

.container__p {
  font-size: 22px;
  text-align: center;
  word-wrap: normal;
  width: 250px;
  margin: 0 auto 20px;
}

.mood {
  width: 300px;
}

.mood-icons {
  display: flex;
  justify-content: space-between;
}

.mood__svg {
  fill: rgb(77, 77, 77);
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.2rem;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + .mood__svg {
  cursor: pointer;
}

input[class="super-happy"]:hover + .mood__svg,
input[class="super-happy"]:checked + .mood__svg,
input[class="super-happy"]:focus + .mood__svg {
  fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + .mood__svg,
input[class="happy"]:checked + .mood__svg,
input[class="happy"]:focus + .mood__svg {
  fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + .mood__svg,
input[class="neutral"]:checked + .mood__svg,
input[class="neutral"]:focus + .mood__svg {
  fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + .mood__svg,
input[class="sad"]:checked + .mood__svg,
input[class="sad"]:focus + .mood__svg {
  fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + .mood__svg,
input[class="super-sad"]:checked + .mood__svg,
input[class="super-sad"]:focus + .mood__svg {
  fill: rgb(239, 42, 16);
}

.container__text-input {
  width: 100%;
  height: 20vh;
  margin: auto;
  border: none;
  border-radius: 8px;
}

.container__img-input {
  display: flex;
  margin: auto;
}

label.label input[type="file"] {
  display: none;
}

.label {
  cursor: pointer;
  border-radius: 5px;
  padding: 7px;
  background: #294d75;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 120px;
}

.save__btn {
  border: none;
  border-radius: 10px;
  background-color: #294d75;
  color: #fff;
  font-size: 18px;
  padding: 12px 80px;
  display: block;
  margin: 0 auto 100px;
  transition-duration: 0.4s;
}

.save__btn:hover {
  background-color: #417aba;
}

@media (min-width: 700px) {
  .cal-container {
    display: flex;
    flex-direction: row;
  }

  .entry__greet {
    display: block;
    font-size: 26px;
    font-weight: 500;
    word-wrap: normal;
    width: 250px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .mood {
    padding: 15px;
    width: auto;
  }

  .mood__svg {
    height: 2.8rem;
    width: 2.8rem;
    margin: 0 0.2rem;
  }

  .save__btn {
    margin-bottom: 60px;
  }
}

/*##################################
############ FORM STYLE ############
###################################*/

.main-height {
  height: 80vh;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}

.form__text-input {
  border-radius: 5px;
  height: 20px;
  padding: 13px;
}

.form__btn {
  border: none;
  border-radius: 10px;
  background-color: #294d75;
  color: #fff;
  font-size: 15px;
  padding: 12px 80px;
  display: block;
  margin: auto;
}

.redirect-btn {
  color: #fff;
}

@media (min-width: 700px) {
  form {
    width: 600px;
    margin: auto;
  }
}

/*##################################
########## CALENDAR STYLE ##########
###################################*/

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.calendar__item {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 15px;
  padding: 25px 15px;
  width: 120px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 700px) {
  .calendar__item {
    margin-bottom: 0px;
  }
}

/*##################################
########### FOOTER STYLE ###########
###################################*/

.foot__mobile {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.foot-container,
.foot__p {
  display: none;
}

@media (min-width: 700px) {
  .foot__mobile {
    display: none;
  }

  .foot-container {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 80px;
    text-decoration: none;
    color: #000;
  }

  .foot__link {
    text-decoration: none;
    color: #000;
  }

  .foot__link:hover {
    text-decoration: underline;
  }

  .foot__p {
    display: block;
    text-align: center;
    padding: 12px;
    color: #fff;
  }
}

/*##################################
########### ALERTS STYLE ###########
###################################*/

.error {
  color: rgb(194, 19, 19);
  display: flex;
  flex-direction: row;
}

/*##################################
########### LEGAL STYLE ###########
###################################*/

.terms {
  text-align: center;
  margin-bottom: 20px;
}

.terms__ul {
  display: flex;
  flex-direction: column;
}

.privacy {
  text-align: center;
  margin-bottom: 20px;
}

.privacy__p {
  margin-bottom: 34vh;
}
